*.local
/*.stat
*.dcu
/*.identcache
/bin/NORTHWIND.FDB
/bin/Northwind.ini
/scStub.dsk
/Northwind/bin/dunitx-results.xml
/Tests/ORMTests/Win32/Debug/dunitx-results.xml
/senCilleGroup_prjgroup.tvsconfig
/bin/dunitx-results.xml
/*.dsk
/Tests/ORMTests/Win32/Debug/TestInsightSettings.ini
/Tests/Northwind/bin/dunitx-results.xml
/ORMGenerator/*.identcache
*.stat
*.identcache
*.dsk
/bin/*.exe
/senCilleMVC/*.res
/*.res
/*.tvsconfig
__history
/bin/Win32
/bin/Win64
/Tests/ExampleEncodeUnit/EncryptForm.exe
/Tests/ExampleEncodeUnit/EncryptForm.rsm
/*.dsv
/*.orm
